// font families used in app
// font-family: 'Be Vietnam Pro', sans-serif;
// font-family: 'Bitter', serif;
$--main-bg-color: "red";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//  styling body in lightmode
body {
  background-color: grey;
  width: 100%;
  height: auto;
  transition: background-color 0.1s;
  overflow-x: hidden;
}

//  styling todo-box
.todo {
  background-color: white;
  transition: background-color 0.1s;
  border-radius: 5px;
  width: 45%;
  min-height: 50%;
  margin: 0 auto;
  margin-bottom: 95px;

  //  styling heading
  &-h1 {
    text-align: center;
    width: 100%;
    padding-top: 30px;
    font-family: "Bitter", serif;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 5px;
    color: rgb(97, 96, 96);
  }

  // all inputs for adding task
  &-inputs {
    width: 100%;
    height: 100%;
    font-family: "Be Vietnam Pro", sans-serif;

    .input {
      transition: all 0.1s;

      border: none;
      width: 100%;
      outline: none;
      font-size: 13px;
      padding: 5px;
      padding-left: 0px;
      color: #615e5e;
      font-weight: 600;
      font-family: "Be Vietnam Pro", sans-serif;
      &::placeholder {
        font-weight: 300;
        color: rgb(212, 212, 212);
      }
    }

    .label {
      font-family: "Be Vietnam Pro", sans-serif;
      text-transform: uppercase;
      font-size: 13.5px;
      color: rgb(121, 118, 118);
      font-weight: 300;
      &-big {
        width: 100%;
      }
      &-small {
        width: 50%;
      }
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

//  for borders
.line {
  &-bottom {
    border-bottom: 2px solid rgb(224, 222, 222);
  }

  &-left {
    border-left: 2px solid rgb(224, 222, 222);
  }
}

//  for spacing in the delete button

.spacing {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

// add button and delete button
.btn {
  padding: 15px 5px;
  cursor: pointer;
  color: white;
  border: none;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 200;

  &-box {
    border: #615e5e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 3px;
    color: white;
    margin-top: 40px;

    .bi {
      font-size: 18px;
      font-weight: 600;
    }
    .bi-plus {
      font-size: 35px;
      font-weight: 800;
    }
  }
}

.margin-add {
  margin-left: 150px;
}

#delete {
  background-color: rgb(255, 57, 57);
}

#add {
  background-color: rgb(65, 56, 56);
}

// delete button placing
.placing {
  top: 265px;
  left: 49%;
  position: absolute;
  margin-left: 30px;
}

//  the task added in the list
.item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgb(219, 218, 218);
  padding: 20px 0;
  gap: 10px;
  min-height: 200px;
  flex-wrap: wrap;
  &-1 {
    width: 10%;
    text-align: center;
  }
  &-2 {
    width: 60%;
    height: auto;
  }
  &-3 {
    width: 25%;
    text-align: center;
    justify-content: center;
    display: flex;
  }

  &-box {
    padding: 15px;
    padding-top: 20px;
  }

  &-description {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    color: #615e5e;
    font-weight: 500;
  }

  &-date {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #a5a5a5;
    text-transform: uppercase;
    padding-top: 10px;
  }

  &-category {
    width: 65%;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 10px 15px;
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
  }
}

.calendar {
  width: 15px;
}

.red {
  background-color: rgb(133, 25, 25);
}

.yellow {
  background-color: rgb(216, 159, 35) !important;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: rgb(114, 58, 68);
}

.blue {
  background-color: rgb(76, 83, 150);
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

// dark mode of the website

// toggle button for switching mode
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -1px;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 1px;
  background-color: #040513;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 38px;
}

.slider.round:before {
  border-radius: 50%;
}

.mode {
  &-black {
    background-color: #212338;
    color: white !important;
    transition: all 0.1s;
  }
  margin-right: 5%;
  margin-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
  gap: 0.5%;
  .light {
    color: grey;
  }
  .dark {
    color: #040513;
  }
}
.bodycolor {
  background-color: #040513 !important;
  transition: all 0.1s;
}

.inputcolor {
  background-color: #212338 !important;
  transition: all 0.1s;
}

.darkModeText {
  color: white !important;
}

//  for responsive view on 1400px
@media (max-width: 1400px) {
  .todo {
    width: 50%;
  }

  .placing {
    top: 260px;
    right: -100px;
  }

  .mode {
    margin-right: 25px;
  }
}

//  for responsive view on 1200px

@media (max-width: 1200px) {
  .todo {
    width: 60%;
  }
  .placing {
    top: 257px;
    right: -100px;
  }
}

//  for responsive view on 1000px

@media (max-width: 1000px) {
  .btn {
    font-size: 10px;
    &-box {
      width: 110px;
      .bi-plus {
        font-size: 18px;
      }
    }
  }

  .placing {
    top: 250px;
    right: -100px;
  }

  .mode {
    .dark {
      font-size: 12px;
    }
    .light {
      font-size: 12px;
    }
  }

  .mode {
    margin-right: 25px;
  }
}

//  for responsive view on 870px

@media (max-width: 870px) {
  .item {
    &-2 {
      width: 50%;
    }
    &-3 {
      width: 30%;
      text-align: center;
    }

    &-category {
      width: 65%;
      font-size: 10px;
    }
  }
  .todo {
    width: 70%;
  }

  .btn {
    font-size: 10px;
    &-box {
      width: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      .bi-plus {
        font-size: 18px;
      }
    }
  }

  .placing {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }

  .mode {
    .dark {
      font-size: 12px;
    }
    .light {
      font-size: 12px;
    }
  }
  .margin-add {
    // width: 80%;
    margin-left: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .mode {
    margin-right: 40px;
    margin-bottom: 10px;
    justify-items: right;
  }

  .item {
    &-2 {
      width: 50%;
    }
    &-3 {
      width: 30%;
      text-align: center;
    }

    &-category {
      width: 65%;
      font-size: 10px;
    }
  }
}

//  for responsive view on 770px

@media (max-width: 770px) {
  .item {
    &-2 {
      width: 80%;
    }
    &-3 {
      width: 100%;
      text-align: center;
    }

    &-category {
      width: 35%;
      font-size: 10px;
    }
  }
}

//  for responsive view on 560px

@media (max-width: 560px) {
  .todo {
    width: 80%;
    &-inputs {
      .label {
        &-small {
          width: 100%;
        }
      }
    }
  }
  .item {
    &-2 {
      width: 80%;
    }
    &-3 {
      width: 100%;
      text-align: center;
    }

    &-category {
      width: 35%;
      font-size: 10px;
    }
  }
  .mode {
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-items: right;
    gap: 15px;
  }

  .flex {
    flex-direction: column;
  }

  .line-bottom {
    border: 0;
  }
  .spacing {
    border-top: 2px solid #e0dede;
  }

  .line-left {
    border-left: 0;
    border-bottom: 2px solid #e0dede;
  }
}
